<#@ template language="C#" #>
<#@ output extension=".cs" #>
<#@ assembly name="System.Core" #>
<#@ import namespace="System.Linq" #>
<#@ import namespace="System.Text" #>
<#@ import namespace="System.Collections.Generic" #>
using System;

namespace ConsoleApp6
{
	public class Fuga
	{
		public void Piyo()
		{
			Console.WriteLine("Hello, World!");
		}
	}
}