@{
    ViewData["Title"] = "Home Page";
    @model SystemViewModel;
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>

    <h2 class="display-4">System Info</h2>
    <p>HostName: @Model.HostName</p>
    <p>IPAddress: @Model.HostIp</p>

    <h2 class="display-4">Pool Info</h2>
    <p>IsConnectionPooling: @Model.IsFromConnectionPool</p>
    <p>PoolCount: @Model.ConnectionPoolCount</p>
</div>
